<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
			<%= image_tag @blog.image.url %>
		</div>
	</div>

	<div class="col-md-6">
		<p>
		  <strong>Name:</strong>
		  <%= @blog.name %>
		</p>

		<p>
		  <strong>Creator:</strong>
		  <%= @blog.user.name %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @blog.description %>
		</p>
	</div>
</div>

<% if current_user == @blog.user%>
	<%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-link" %> |
	<%= link_to 'Back', blogs_path, class: "btn btn-link" %>
<% end %>
